/*//编辑*/
#isReset{
  position: relative;
  

}
#isReset h3{
  background: #CEE9F8;
  line-height: 35px;
  padding-left:5px;
  margin-bottom:10px;

}

#isReset .top {
 width: 593px; 
 min-height: 17px;
}


#isReset .top input{
  margin-left:10px;
  height: 23px;
  width: 180px
}
#isReset .top .p1 span{
 margin-right:10px;
}
#isReset .top .p1 .textbox, .easyui-datebox {
 height: 22px!important;
}
#isReset .top p {
  margin-bottom:10px;
  font-size:12px;

}

#isReset .top .p1{
  margin-left:50px;
}
#isReset .top .p2{
  margin-left:50px;
}
#isReset .top .p4{
  margin-left:75px;
}

}

#isReset .top .right{
position:absolute;
}

#isReset .p7{
  text-align: center;
  margin:0 auto;
  width: 300px; border-top:1px solid #ccc;
  padding-top:10px;
}
#isReset .p8 {
  margin-left: 50px;
}

#isReset .p7 input{
  width: 120px; height: 35px;
  margin-right:10px;
  border-radius: 7px;
  background: #3498DA;
  font-weight: bold;
  color:#fff;
  font-size:14px;
}
#isReset .p7 input:nth-child(2){
  background: #D8DBDD;
  margin-left: 15px;
}
.messager-body{
  z-index: 1;
}

.messager-window{


  background: #fff;
  opacity: 1;
}

/* 幕布

.mubu{
  width: 100%; height: 100%; 
  background: #ccc;
  position: absolute;left: 0; top:0;
  z-index:2; 
  opacity: 0.3;
  display: none;
} */
.panel{
  /*top:200px!important;*/
}
/*几个弹出框提示*/
#isReset1 h3{
  width: 336px;
  text-align: center;
  margin: 25px 0 25px 0;
    font-size: 14px;
    color: #768399;
    font-weight: bold;
}
#isReset1 .p7{
  
  margin:0 auto;
  width: 336px;
  padding-top:10px;
}
#isReset1 .p7 input{
  width: 120px; height: 35px;
  margin-right:20px;
  border-radius: 7px;
  background: #3498DA;
  font-weight: bold;
  color:#fff;
  font-size:14px;
}
#isReset1 .p7 input:nth-child(1){
  margin-left: 40px;
}
#isReset1 .p7 input:nth-child(2){
  background: #D8DBDD; 
} 


/* 新增编辑弹出框
#isReset{
  width: 400px; min-height:260px; text-align:left; padding:0;
}


点击删除弹出框
#isReset1{
  width: 336px; height: 140px; text-align:left; padding:0
}



================================================删除成功失败返回==============================================
#isReset2{
  width:300px; min-height: 120px;
  text-align:left; padding:0
}
#isReset2 h3{
  width:300px; text-align:center;font-size: 16px;color: #768399;font-weight: bold;padding-top:30px
}
#isReset2 p{
  width: 270px; margin:0 auto; font-size: 14px;color: #768399; padding-top:40px;  display: none
}
 */



/*树形icon*/
.tree-icon.tree-folder.tree-folder-open{
  display: none
} 
.tree-icon.tree-file{
  display: none
} 
.tree-icon.tree-folder{
  display: none
}


/*树形下拉框*/
.combo-panel.panel-body.panel-body-noheader .tree{
  min-height:150px; max-height: 200px;
}