/*search form start*/
.search-wrap{
    padding:10px 10px 0;
}
.search-list{
}
.search-list li{
    float:left;   
    padding:6px; 
}
.search-list .textbox{
  height:22px!important;
  border:1px solid #cbcbcb;
}
.search-list  .datebox{
   height:22px!important;
   border:1px solid #cbcbcb;
}
.search-list .textbox .textbox-text{
  line-height:24px;
}
.search-list .moneyrange{
	border:1px solid #cdcdcd;
	height:22px;
}
.textbox,.easyui-datebox{
  width:130px;
  height:32px!important;
  border:1px solid #e7e7e2;
  border-radius:0;
}
.search-oneline{
  vertical-align:top;
}
.search-oneline li{
  padding:0;
}

.ui-info-item .numberbox{
  height:32px;
  line-height:32px;
}
.ui-guarant-tab .numberbox{
	margin-right:5px;
}
.textbox .textbox-text{
  padding:0;
  height:100%;
  line-height:32px;
  color:#666;
  font-size:14px;
}
.easyui-datebox{
  color:#666;
  font-size:14px;
}
.ui-combobox{
  width:142px;
  height:24px;
  border:1px solid #cbcbcb;
}
.date em{
  display:inline-block;
  width:40px;
  text-align:center;
}
.search-list li .name{
  display:inline-block;
  margin-right:10px;
  width:59px;
  text-align:right;
  font-size:14px;
  color:#768399;
}

.search-btn,.excel-btn{
  display:inline-block;
  margin-right:10px;
  padding:2px 29px;
  height: 26px;
  line-height: 26px;
  border-radius:4px;
  font-size:14px;
  font-weight: bold;
  border:0;
  color: #768399;
  background-color:#f0f0f0;

}
.excel-btn{
  padding:0 9px;
  border:2px solid #e3e5e6;
  background-color:#fff;
}
.btn-group{
  margin-left:10px;
  margin-top: -5px;
}
.search-btn:hover{
  background-color: #e2e2e3;
  text-decoration: none;
}
.excel-btn:hover{
  text-decoration: none;
}

/*search form end*/
/*list*/
.dash-add-btn{
  position:relative;
  display:inline-block;
  margin:10px 0;
  padding:5px 30px 5px 44px;
  color:#768399;
  font-weight: bold;
  font-size: 14px;
  border:1px dashed #d9dcdd;
  border-radius:3px;
}
.list-item{
    background: #fff;
    padding: 0 15px;
}
.list-noadd{
  margin-top:20px;
}
.ui-icon{
  position:absolute;
  left:22px;
  top:8px;
  width:14px;
  height:15px;
  display:block;
  background:url(../images/icons.png) no-repeat;
  background-position: 0 -22px;
}
.ui-top-staticis{
  height:35px;
  line-height:55px;
  color:#768399;
  font-size:14px;
  display: inline-block;
}
.ui-datagrid-wrap{
  margin-top:20px;
  padding:2px 0 20px 0;
  border:1px solid #e4e9eb;
  border-radius:5px;
}
.ui-page-text{
  color:#768399;
  letter-spacing:2px;
}
.ui-page-fir{
  margin-right:10px;
}
.ui-page-last{
  padding:0 10px 0 5px;
}
.ui-pro-list .ui-top-staticis{
	margin-bottom:10px;
}
/*list end*/
/*detail --------start*/

.ui-crumbs{
    font-size:14px;
    color:#a7adb4;
    background:#f3f5f6;
    padding:10px 0 10px 18px;
    border-radius:5px;
}
.ui-crumbs a{
    color:#3498da;
}
.ui-crumbs em{
    font-family: sans-serif;
    display:inline-block;
    width:32px;
    text-align: center;
}
.ui-info-box{
    background-color: #fff;
    padding:17px;
    min-width:1185px;
}
.ui-info-main{
    margin-top:17px;
    height:auto;
    min-height:288px;
    border:1px solid #e4e9eb;
    border-radius:5px;
}
.ui-info-list .no-topbor{
  border-top:0;
}
/*detail --------end*/

/*===============dialog 妗嗗唴鏍峰紡 start*/
.easyui-dialog{
  width:300px;
  height:130px;
  padding:10px;
  overflow:hidden;
  background:#fff;
}
.ui-dlg-confirm{
  width:366px;
  min-height:214px;
  height:auto;
}
.panel-tool .panel-tool-close{ 
  width:26px;
  height:26px;
  display:inline-block;
  background:url(../images/icons.png) no-repeat;
  background-position: -20px 0;
  z-index:99999999;
}
.ui-dlg-tit{
  margin:34px 0 32px 0;
  font-size:14px;
  color:#768399;
  font-weight: bold;
}

.ui-dlgOk-btn,.ui-dlgCancel-btn,.ui-dlgCancel-twobtn{
  width:210px;
  height:36px;
  line-height:36px;
  font-size:14px;
  background-color: #3498da;
  color:#fff;
  font-weight: bold;
  border:0;
  border-radius: 5px;
}
.ui-dlg-confirm .ui-dlg-tit{
  margin:0;
  padding:12px 0 15px 0;
  border-bottom:2px solid #36a2e9;
}
.ui-dlg-dtl{
  margin:17px 0;
}
.ui-dlg-item label,.ui-dlg-item span{

  display:inline-block;
  width:50%;
  height:26px;
  line-height: 26px;
  text-align:right;
  font-size: 14px;
  color:#768399;
}
.ui-dlg-item span{
  text-align: left;
}
.ui-dlgOk-btn{
  width:141px;
}
.ui-dlgCancel-btn,.ui-dlgCancel-twobtn{
  margin-left:10px;
  width:141px;
  background:#d8dbdd;
}
.ui-dlg-list{
  padding:25px 15px;
  /*min-height:305px;*/
  height:auto;
  width:440px;
  text-align:left;
  border-bottom: 1px solid #f3f5f6;
}
.ui-dlg-list .ui-info-item{
  padding-left:5px;
}
.ui-dlg-tab{
  border-bottom: 1px solid #f3f5f6;
}
.ui-dlg-tab tr td{
  min-height:43px;
  line-height: 43px;
  color:#768399;
  font-size:14px;
  text-align:left;
  border-top: 1px solid #f3f5f6;
}
.ui-dlg-tab tr .ui-dlgtab-left{
  padding-right:10px;
  text-align:right;
}
.ui-dlg-tab  .ui-dgrey td{
  background-color: #f9fafa;
}
.ui-dlg-tab textarea,.ui-dlg-ins-list textarea{
	border:1px solid #e7e7e2;
	vertical-align:middle;
	margin:5px 0;
}
.ui-dlg-list .ui-info-input{
  margin-top:-2px;
  width:223px;
}
.ui-dlg-list .ui-info-sel{
  width:230px;
  
}
.ui-dlg-tet{
  margin-top:10px;
  height:100px;
  width:228px;
  border: 1px solid #e7e7e2;
}
.ui-dlg-submit{
  width:320px;
  margin:15px auto 0 auto;
}
.ui-dlg-submit .ui-dlgCancel-btn{
  margin-left:20px;
}

.ui-dlg-fixlen{
  width:440px;
  height:380px;
  overflow:auto;
}
/*===============dialog 妗嗗唴鏍峰紡 end*/

/*==============璇︽儏 start*/
.ui-info-tit{
  margin-left:18px;
  height:43px;
  line-height: 43px;
  font-size:14px;
  color:#3498da;
  font-weight: bold;
}
.ui-info-list{
  margin:18px;
  margin-top:0;
   color:#768399;
  font-size:14px;
  border-bottom:1px solid #f3f5f6;
}
.ui-info-item{
  /*min-height:47px;*/
  padding-left:74px;
  border-top:1px solid #f3f5f6;
}
.ui-info-item-grey{
  background:#f9fafa;
}
.ui-info-lbl{
  margin-right:12px;
  line-height:47px;
  font-size:14px;
  font-weight: bold;
  color:#768399;
}

.ui-info-item .ui-info-lbl{
  min-width:85px;
  text-align:right;
}
.ui-infosure-main .ui-info-lbl{
	width:130px;
}
.ui-article-text{
	width:90%;
	line-height:30px;
	padding: 10px 0;
}
.ui-prod-article .ui-info-lbl{
  vertical-align:top;
}
.ui-info-sinput,.ui-info-input,.ui-info-linput{
  padding-left:5px;
  width:548px;
  height:32px;
  line-height:32px;
  border:1px solid #e7e7e2;
  vertical-align: middle;
}
.ui-info-sel{
  margin-right:5px;
  width:272px;
  height:34px;
  line-height:34px;
  border:1px solid #e7e7e2;
  vertical-align: middle;
  color:#666;
}
.ui-info-input{
  width:265px;
}
.ui-info-sinput{
  width:115px;
}
.ui-info-to{
  width:20px;
  display:inline-block;
  text-align:center;
}

.ui-info-subitem{
  width:420px;
  display:inline-block;
}
.ui-info-lblw{
  display:inline-block;
  width:80px;
  text-align:right;
}

.ui-price-wrap{
  position: relative;
  display:inline-block;
  width:155px;
}
.ui-price-btn{
  display:inline-block;
  width:33px;
  height:33px;
  line-height:33px;
  color:#3498da;
  border:1px solid #e7e7e2;
  background-color: #f2f2f2;
  font-family: sans-serif;
  text-align:center;
  vertical-align: middle;
  font-size:24px;
}
.ui-price-btn:hover,.ui-gone:hover{
  text-decoration: none;
}
.ui-price-input{
  left:33px;
  width:80px;
  height:33px;
  line-height:33px;
  text-align:center;
  color:#768399;
  border-top:1px solid #e7e7e2;
  border-bottom:1px solid #e7e7e2;
}
.ui-price-btn-add{
  left:114px;
}
.ui-price-btn,.ui-price-input{
  position:absolute;
  top:-23px;
}

.ui-guarant-item{
  height:auto;
}
.ui-guarant-wrap{
  display:inline-block;
}
.ui-guarant-addfir,.ui-guarant-addsec,.ui-guarant-reduce{
  display:inline-block;
  margin-top:-3px;
  width:26px;
  height:26px;
  vertical-align: middle;

  background:url(../images/icons.png) no-repeat;
  background-position: -55px -3px;
  border:0;
}
.ui-guarant-addfir:hover .ui-guatip,.ui-guarant-addsec:hover .ui-guatip{
  display:block;
}
.ui-guarant-item .ui-info-lbl{
  vertical-align: top;
}
.ui-guarant-addsec{
  margin-left:15px;
  background-position: -87px -3px;
}
.ui-guarant-reduce{
  margin-left:10px;
  background-position: -119px -3px;
}


.ui-icon-arrow {
  margin-left:5px;
  display: inline-block;
  width: 15px;
  height: 8px;
  vertical-align: middle;
  background: url(../images/icons.png)   no-repeat;
  background-position: 0 -9px;
}
.ui-icon-arrow-up{
  background-position: 0 0;
}

.ui-guarant-list{
  margin-bottom:10px;
  width:700px;
}
.ui-guarant-list>li{
  min-height:38px;
  line-height:38px;
  border-bottom: 1px solid #e7e7e2;
  font-size:14px;
}
.ui-guarant-list .no-bottbor{
  border-bottom: 0;
}
.ui-gone,.ui-gtwo,.ui-gthree{
  display:inline-block;
}
.ui-gone{
  padding-left:8px;
  width:30%;
}
.ui-gtwo{
  width:35%;
}
.ui-gthree{
 width:30%;
 position:relative;
}
.ui-profit-chose{
  margin-top:10px;
  vertical-align:top;
}
.ui-dlgProfit{
	width:auto;
}
.ui-dlgProfit label{
  margin-left:5px;
  width: 180px;
  word-break: break-all;
  vertical-align: top;
}
.ui-dlgProfit .ui-dlgtab-left{
  vertical-align: top;
}
.ui-guarant-tab tr td{
  height:38px;
  line-height:38px;
  border-bottom: 1px solid #e7e7e2;
  font-size:14px;
  text-align:left;
  padding-bottom:5px;
}
.ui-guarant-tab  .ui-tab-last td{
  border-bottom: 0;
}
.ui-guarant-tab .ui-info-sinput{
	margin-right:5px;
}
.ui-guarant-tab tr .ui-td-fir{
  padding-left:20px;
}
.ui-gone strong{
   color:#888;
}
.ui-guarant-tit{
  height:40px;
  line-height: 40px;
  width:100%;
  border-bottom: 1px solid #e7e7e2;
}
.ui-relative{
  position:relative;
}
.file-wrap{
  position: absolute;
  left: 140px;
  top: 11px;
  width: 89px;
  height: 26px;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: 1000;
}
.ui-file-link{
  padding:5px 8px;
  background-color:#75b9e6;
  border:0;
  border-radius:3px;
  color:#fff;
  font-size:12px;
}

.ui-info-item .ke-container{
  margin-top:10px;
  display:inline-block;
}
.ui-rich-wrap .ui-info-lbl{
  vertical-align: top;
}
.ui-btn-double{
  margin:10px auto;
  width:204px;
}
.ui-btn-blue,.ui-btn-grey{
  display:inline-block;
  width:87px;
  height:30px;
  line-height: 30px;
  border:0;
  font-weight: bold;
  color:#fff;
  background-color: #75b9e6;
  border-radius: 5px;
  text-align:center;
}
.ui-btn-grey{
  margin-left:20px;
  background:#f0f0f0;
  color:#768399;
}
.ui-guatip{
  position:absolute;
  top:25px;
  left:-65px;
  padding:0 5px;
  height:23px;
  line-height: 23px;
  display:none;
  color:#be640b;
  background:#fffbed;
  border:1px solid #f1de9d;
  z-index:99;
}
.ui-guatip2{
  left:50px;
}
.ui-info-ssel{
  width:50px;
}
.ui-resureLimit-wrap .ui-guarant-addfir{
  margin-left:10px;
}
.ui-resureLimit-fir{
  display:inline-block;
}
.ui-resureLimit-other{
  margin-left:95px;
}
.ui-resureLimit-sure{
  padding-left:135px;
}
.ui-info-link{
  color:#3498da;
  font-size:12px;
}
.ui-infosure-fir{
  border-top:0;
}
.ui-rdo-left{
  margin-right:50px;
}
input[type="radio"]{
  vertical-align: middle;
}

.ui-insure-main .ui-info-lbl{
  display:inline-block;
  padding-right:10px;
  width:45%;
  text-align:right;
}
.ui-insure-main .ui-info-small{
	width:40%;
}
.ui-insure-main .ui-info-list{
  
  margin-bottom:0;
}
.ui-insure-main .ui-info-tit{
  padding-left:24px;
  width:45%;
  text-align:right;
}

.ui-insurance-info .ui-info-item{
  padding-left:0;
  border-top:1px solid #e2e2e2;
}
.ui-insurance-info .ui-info-lbl{
  width:355px;
  padding-left:25px;
  text-align:left;
}
.ui-insurance-info .ui-guarant-wrap{
  width:100%;
}
.ui-insurance-info .ui-guarant-list{
  width:100%;
  margin-bottom:0;
}
.ui-insurance-info .ui-guarant-tit{
  height:45px;
  line-height:45px;
  background:#f9fafa;
  border-bottom:0;
  font-weight:normal;
}

.ui-insurance-info .ui-gone,.ui-insurance-info .ui-gthree{
  width:360px;
  padding-left:25px;
}
.ui-insurance-info .ui-guarant-tab tr .ui-td-fir{
  padding-left:46px;
}
.ui-insurance-info .ui-guarant-tab tr td{
  background-color: #fff;
  border-bottom:1px solid #f3f5f6;
}
.ui-insurance-info .ui-guarant-tab .ui-tab-last td{
  border-bottom:0;
}
.ui-insurance-info  .ui-guatip{
  left:-32px;
}
.ui-insurance-info  .ui-guatip2{
  left:79px;
}
.ui-insurance-info  .ui-guarant-list>li{
  border-bottom:0;
}
.ui-guarant-item-inslast{
  border-bottom:1px solid #e2e2e2;
}
.ui-insurance-info .ui-gone strong{
  font-size:14px;
  font-weight: normal;
}
.ui-btn-green,.ui-btn-org{
  width:53px;
  height:27px;
  line-height: 27px;
  border:0;
  font-weight: bold;
  color:#fff;
  background-color: #71d398;
  border-radius: 5px;
}
.ui-btn-org{
  background-color: #f68484;
}

.info-search .btn-group{
  margin-top:3px;
}
.info-search .ui-textbox-long{
  height:30px!important;
  width:414px;
  padding-left:10px;
}
.info-search .ui-textbox-long  .textbox-text{
  width:100%;
}
.dash-addOne-btn{
  padding:5px 15px;
  margin-left:18px;
}

.ui-dlg-ins-list{
  border-bottom: 1px solid #f3f5f6;
}
.ui-dlg-ins-list li{
  min-height: 43px;
  line-height: 43px;
  color: #768399;
  font-size: 14px;
  text-align: left;
  border-top: 1px solid #f3f5f6;
}
.ui-dlg-ins-list label{
  width:110px;
  text-align:right;
}
.ui-dlg-ins-list .ui-guarant-addfir{
  margin-left:10px;
}

.ui-td-article p{
  width:360px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.ui-profit-info .ui-info-lbl{
  width:auto;
}
.ui-profit-info .ui-info-item{
 
}
.ui-profit-toptit td{
  background-color: #fff;
}
.ui-profit-tit{
  border-top:1px solid #e2e2e2;

}
.ui-profit-toptit .ui-lbl-last{
  padding-left:40px;
} 
.ui-profit-tit .ui-guatip{
  left:-60px;
}
.ui-profit-btns .ui-btn-green{
  margin-left:55px;
}
.ui-profit-info .ui-guarant-tab td{/*only once,dont use*/
  position: relative;
}
.ui-profit-info .ui-guarant-tab tr td{
	border-bottom:0;
	border-top:1px solid #f3f5f6;
}
.ui-profit-info .ui-guarant-tab .ui-pfir td{
	border-top:0;
}
.ui-profit-info .ui-guarant-tit td{
  padding-left:25px;
}
.ui-profit-info{
	border-bottom:0;
}

.ui-hover-tip{
  position:absolute;
  top:-20px;
  display:none;
  line-height:24px;
  padding:5px;
  border:1px solid #f1de9d;
  background-color: #fffbed;
  color:#be640b;
  z-index:99;
}
/*==============璇︽儏 end*/
/*==============瀹㈡埛绔�start*/
.ui-info-item .textbox-addon{
  top:6px;
  right:2px!important;
}
.ui-info-item .ui-fileup{
  width:58px;
  height:28px;
  line-height:28px;
  font-weight: normal;
}
.ui-info-item .file-hid{
  left: 0;
  top: 0;
  width: 56px;
}
.ui-start-img-wrap{
  margin-left:94px;
}
.ui-start-img-wrap li{
  float:left;
  margin-right:10px;
}
.ui-start-img-wrap .ui-fw14{
  height:31px;
  line-height:31px;
}
.ui-start-img-wrap .ui-relative{
  margin:8px 0;
}

.ui-isoAdd-main .ui-info-lbl,.ui-andAdd-main .ui-info-lbl{
  width:130px;
}
.ui-info-txta{
  margin:5px 0;
  width:270px;
  height:150px;
  border: 1px solid #e7e7e2;
  vertical-align: middle;
}
.ui-isoAdd-main .file-hid{
  left:217px;
  top:10px;
}
.ui-andSource-wrap .ui-guarant-addfir{
  margin-left:10px;
}

.ui-andAdd-main .ui-resureLimit-inner{
  position: relative;
  margin-top:5px;
} 
.ui-andAdd-main .ui-resureLimit-other{
  margin-left: 142px;
}
.ui-andAdd-main .file-hid{
  left: 279px;
  top: 2px;
}
.ui-andSource-wrap .ui-info-lbl{
  line-height:0;
}
/*==============瀹㈡埛绔�end*/
/*==============system start*/
.ui-subjectmod-list .ui-info-tit{
  margin-left:0;
}
.ui-downorg-arr{
  display:inline-block;
  width:15px;
  height:14px;
  background: url(../images/icons.png)   no-repeat;
  background-position: -154px -8px;
}
.mod-item {
  margin-top:-10px;
}
.mod-item .ui-info-lbl{
  height:30px;
  line-height: 30px;
}
.ui-vtop{
  vertical-align: top;
}
.mod-item-img{
  display:inline-block;
  margin:10px 0;
}
.mod-item-img .ui-downorg-arr{
  margin:0 30px;
}
.ui-mod-img{
  border:1px solid #f50;
}


.ui-submod-tab-item{
  padding:0 30px;
}
.ui-submod-tab td{
  min-height:44px;
  line-height:44px;
  text-align:center;
}
.ui-submod-tab td a{
  color:#3498da;
}
.ui-submod-tab td span{
  margin-left:-115px;
}
.ui-submod-tab-tit td{
  font-weight: bold;
  border-bottom:1px solid #f3f5f6;
}
.ui-submod-tr-grey td,.mod-item-tr td{
  background-color:#f9fafa; 
}
.mod-item-tr td{
  color:#f50;
  border-bottom:1px solid #f3f5f6;
}
.ui-submod-tab-arr{
  margin-left: -25px;
  margin-right: 10px;
}
.ui-submod-tr-recom td{
  padding-top:10px;
  height: 65px;
  vertical-align: top;
}
.ui-padb{
  padding-bottom:10px;
}
.ui-audit-rdo{
  padding-left:90px;
  height:47px;
  line-height: 47px;
}
.ui-audit-rdo label{
  margin-left:10px;
  margin-right:100px;
}
.ui-audit-txta textarea{
  margin:15px 15px -5px 18px;
  padding-left:10px;
  width:822px;
  height:122px;
 border:1px solid #e7e7e2;
}
.ui-btn-three{
   width:auto;
   text-align:center;
}
.ui-btn-three input[type="button"]{
  margin:0 40px;
}

.ui-normal-lbl .ui-info-lbl{
  font-weight: normal;
}
.ui-normal-lbl .ui-red-text{
  margin-left:100px;
}
.ui-info-item .ui-info-subtit{
  height:43px;
  line-height: 43px;
  font-size:14px;
  color:#3498da;
  font-weight: bold;
  margin-left:14px;
}

.ui-info-list2 .ui-info-lbl{
  min-width:132px;
}
.ui-standardadd-info .ui-info-list{
  margin-bottom:0;
}
.ui-standardadd-info{
  padding-bottom:15px;
}
.searchlong-wrap .search-list .name{
	width:100px;
}
.searchlong-wrap  .btn-group{
	padding-left:25px;
}
/*===============system end*/
/* ============鎺堟潈璧勬簮 start */
.ui-info-wrap-tree tr .ui-oddtd{
	width: 25%;
}
.authorize-name{
	vertical-align: top;
	padding-top: 13px;
}
.authorize{
	border:1px solid #b7b7b7;
	border-bottom:0;
	background:#fff;
	margin-top: 13px;
}
.authorize-list-item .aut-check{
	display:none
}
.authorize-list-item .aut-check-show{
	margin: -2px 5px 0 0;
	background:url(../images/tree_checkbox.jpg) no-repeat 0 -24px;/*鏃犻�涓�*/
	width: 12px;
	height: 12px;
	display: inline-block;
	/* -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none; */
	border:0;
}
/*閮ㄥ垎閫変腑*/
.authorize-list-item .check-part{
	background-position: 0 0;
}
/*鏃犻�涓�
.authorize-list-item .white-check{
	background-position: 0 -24px;
} */
/*鍏ㄩ儴閫変腑*/
.authorize-list-item .check-all{
	background-position: 0 -12px;
}
.authorize .authorize-list-item,
.authorize-list-item .aut-box-fir-item,
.authorize-list-item .aut-box-two-item,
.authorize-list-item .aut-fourth-item{
	border-bottom:1px solid #b7b7b7;
}
.authorize-list-item .aut-box-fir-item:last-child,
.authorize-list-item .aut-box-two-item:last-child,
.authorize-list-item .aut-fourth-item:last-child{
	border-bottom:none;
}
.authorize-list-item .aut-box-fir,
.authorize-list-item .aut-box-two,
.authorize-list-item .aut-fourth-item{
	border-left:1px solid #b7b7b7;
}
.authorize-list-item .aut-padding{
	padding:10px 15px;
}
.authorize-list-item .aut-fir{
	width: 114px; 
}
.authorize-list-item .aut-sec{
	width:157px;
}
.authorize-list-item .aut-third{
	width:180px;
}
.authorize-list-item .aut-fourth{
	width:197px;
}
.authorize-list-item .aut-bor-r{
	border-right:1px solid #b7b7b7;
}
.ui-actual-chart-list{
	height: 356px;
}
.ui-actual-chart-list .ui-narr-word{
	padding-top: 110px
}
.ui-trans-check-btn:hover{
	background: url(/images/btns.png) no-repeat;
	background-position: -2px -29px;
}
.authorize-list-item .aut-hide{
	display:none;
}
/* ============鎺堟潈璧勬簮 end */
.dlg-box{
	display:none;
}
.no-data{
  margin: 80px auto;
  text-align:center;
  font-size: 20px;
  font-family: 'Microsoft Yahei';
  color: #999;
}
.no-data-icon{
	margin:5px auto;
	width:45px;
	height:50px;
	background: url(../images/icons.png) right top no-repeat;
}
.ui-dlg-tab .sortCks .ui-dlgtab-left{
	text-align:left;
	padding-left:40px;
}
.ui-padimg-wrap{
	padding-top:5px;
	padding-bottom:5px;
}
.ui-padimg-wrap .ui-file-link{
	vertical-align:top;
}
.ui-padimg-wrap .prod-edit-item .ui-file-link{
	margin-top:-48px;

}
.prod-edit-item{
	display:none;
}
.prod-edit-item .ui-resureLimit-other{
	margin-left:0;
}
.ui-order-updown{
  display: block;
  width: 18px;
  height: 10px;
  background: url(../images/icons.png) -220px -12px no-repeat;
  margin: 3px auto;
}
.ui-base-producetoggle{
	cursor:pointer;
}
.ui-policy-detail .ui-base-range-label{
	width:13%;
}
.ui-policy-detail .ui-base-table{
	border:1px solid #e7e7e2;
}
.query-result-two{
	margin-left:-4px;
	line-height:24px;
}
.addimg{
	display:none;
}
.ui-nobotbor{
	border-bottom:0;
}
.ui-unvisib{
	width:1px;
	filter:alpha(opacity=0); 
    -moz-opacity:0; 
	opacity:0;
}
/*--------------鐢ㄦ埛绠＄悊鏍峰紡start------------*/

a:hover{text-decoration: none;}
.ui-informate{ padding: 6px 1.4% 18px 1.4%;}
.ui-base-tit{ color: #4aa1da; font-weight: 700; font-size: 14px; padding:14px 0 14px 5%;}
.ui-base-table{ width: 100%;}
.ui-base-colsinfor{ color: #768399;font-size: 14px; width: 33%;padding: 10px 0; }
.ui-base-label{   font-weight: 700; width: 38%; display: inline-block; text-align: right;}
.ui-base-data{ padding-left: 10px;}
.ui-base-rowbg{ background: #f9fafa;}
.ui-base-rowborder{ border-bottom: 1px solid #e7e7e2;}
.ui-base-colwidth{ width: 20%;}
.ui-base-currcol{ width: 52%;}
.ui-base-onway{ width: 100%;}
.ui-base-onway-label{ width: 12.6%;}
.ui-base-onway-data{ padding-left: 1%;}
.ui-infor-box-bottom{ width: 100%; text-align: center; margin-top: 16px;}
.ui-a-return{ display: inline-block; padding:6px 31px; background:#f0f0f0;color: #768399;font-weight: 700; border-radius: 5px;  }
/*鏌ヨ涓棿鐨則itle閮ㄥ垎*/
.query-result-title{ color: #768399; }
.query-result-span{ margin-left: 10px;}
.query-result-num{ color:red; padding-left: 6px;}
.panel-header{ background: none;}
.panel-title{ font-weight: 400; padding:16px 0;}
.ui-datagrid-wrap-mgt{ margin-top: 10px;}

/*浜ゆ槗绠＄悊*/
.moneyrange{ width: 100px; margin-left: 6px;}
.ui-combobox{color:#768399 }
.ui-combobox option{color:#768399 }
.switch-style{ width: 48%; display: inline-block;}
.ui-base-colwidth-business{ width: 100%;}
.ui-base-colwidth-business-label{ width: 7%; height: 100%; vertical-align: top; text-align: left; padding-left:8%; }
.ui-base-colwidth-business-data{ width: 70%; display: inline-block;}
.ui-base-policy{ margin-top: 10px;}
.ui-base-businessalert{ background: #75b9e6; color:#fff; cursor: pointer; border-radius: 6px; display: inline-block; padding:6px 11px; margin-left: 26px; }
.ui-base-produceinfor{ border:1px solid #e7e7e2; position: relative;}
.ui-base-producetoggle{ position: absolute; left: 50%; bottom: 0; width: 80px; height: 16px; background: #fff; text-align: center; border:1px solid #ccc; border-bottom:none; }
.ui-base-produceinfor-toggle{ display: none;}
.surrender-hide,.policy-hide{ display: none;}
.ui-base-content-span{ display: block;}
.ui-base-content-span-em{ margin-left: 10px;}
.ui-icon-toggle{transform: rotate(180deg); -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); -o-transform: rotate(180deg);   -moz-transform: rotate(180deg);}
.ui-base-range-label{ width: 10%;text-align: left;padding-left: 16%;}
/*寮规寮�*/
.ui-newalert-box{ width: 500px;}
.ui-newcontent-item{ overflow: hidden; padding:10px 0;}
.ui-newcontent-item-label{ width: 20%; padding-left:10%; }
.ui-newcontent-item-span{ width: 62%;}
.ui-newcontent-item .textbox-addon{ top:5px;}
.ui-newcontent-item-label,.ui-newcontent-item-span{ font-size: 14px;color:#768399; line-height: 26px; text-align: left;}
.policy-newcontent{ margin:10px 0;}
/*鑷畾涔夐獙璇佹牱寮�/
.ui-month-base{ position: relative;}
.predent-textarea{ position: absolute; top: 56px; left: 776px; width: 148px; height: 80px; display: none; } 
.custom-textarea-tooltip{ position: absolute; left:17px; top: 10px; padding:6px 6px; border-radius:6px;color: #000;border:1px solid #cc9933; background-color: #FFFFCC;}
.ctooltip-arrow-outer,.ctooltip-arrow {position: absolute; width: 0; height: 0; line-height: 0; font-size: 0; border:6px solid transparent; }
.ctooltip-bottom .ctooltip-arrow {top: 32px; left: 11px; margin: -13px 0 0 -4px;border-right-color: #ffffcc; z-index: 99 }
.ctooltip-bottom .ctooltip-arrow-outer {top: 32px; left: 11px; margin: -13px 0 0 -6px;border-right-color: #cc9933; z-index: 99 }

.custom-tool-left{ left: 766px;}
.custom-month-position{ left: 504px; top: 0; height: 46px;}
.custom-txt-style{ padding:6px;}
.ctooltip-bottom .custom-triange-intstyle{ top: 30px}
.ctooltip-bottom .custom-triange-outstyle{ top: 30px; left: 4px;}
.custom-tool-left2{ left:425px; }
.custom-tool-left3{ left:210px; }
.custom-tool-left4{ left:454px; }
.custom-tool-left5{ left:846px; }

/*鍐呭绠＄悊*/
.clause-input{ width: 400px;   border: 1px solid #e7e7e2; height: 32px; outline: none;}
.clause-editor .ke-container{ display: inline-block;}
.clause-editor-label{vertical-align: top;}
.client-work-label{ width: 86px;}
.client-work-areatext{ border: 1px solid #e7e7e2; outline: none;}

/*灞曞紑闅愯棌*/
.ui-toggle-menubg{ background: #e8f7ff!important;}
.ui-onemenuindent{ text-indent: 2em; }
.ui-twomenuindent{ padding-left: 78px!important; }
.ui-menuoptmargin{ margin-right: 18px;}
.ui-contentmargin{ margin-left: 18px;}
.ui-addonemenu .ui-dgrey td{ background-color: #fff;}
.ui-addonemenu tr td{ border-top:none; }
.ui-addonemenu{ border-bottom: none;}
.ui-toggle-add{display: inline-block;margin-top: -3px;width: 26px;height: 26px;vertical-align: middle;background: url(../images/icons.png) no-repeat;background-position: -55px -3px;border: 0;}
.ui-toggle-menus{ width: 100%;}
.ui-toggle-menus .ui-guarant-list{ width: 100%;}
.ui-toggle-right{ float: right;}
.ui-toggle-right-option{ padding:6px; display: inline-block;}
.ui-editor-ul{ margin: 20px 0;}
.ui-editor-dialog{ min-height: 200px; width: 370px;}
.ui-editor-dialog-label{ padding-left: 0;}
.ui-editor-dialog-span{ width: 58%;}
.ui-client-editorcontent{  margin:0 auto;}
.ui-clientmanager .textbox-addon{ top:-3px;}
.showMessage,.showMessage2{ color:red; }
.client-addcontent-label{ width: 100px;}
.ui-client-content-label{ color:#768399; font-size: 14px;}
.ui-clinet-upload{ display: inline-block;}
.ui-client-upload-item{ padding-left: 0; border-top: 0;}
.clause-editor-span{ line-height: 46px;}
.ui-service-search{ padding:10px;}
.ui-service-searchpt{ width: 200px;}
.ui-menu-redue{ background-position: -119px -3px;}
.ui-icon-hide{ display: none;}
.ui-editor-pages{ display: inline-block; text-align: center; cursor: pointer;}
.ui-editor-pages:hover{text-decoration: none;}
.ui-tree-dialog{ width:480px; }
.ui-menutext a{ color: #888;}
.ui-menutext a:hover{ text-decoration: none;}


/*娓犻亾绠＄悊*/
.ui-change-item-label{ width: auto!important;}
.ui-channel-inforspan{ width: 300px;}
.ui-channel-phonemargin{ margin-right: 10px;}
.ui-channel-baseinfor .textbox-addon{ top: 5px;}
.ui-channel-base-label{ width: 14%;}
.ui-channel-titcolor{ color: #768399}
.channel-infor-item{ display: inline-block; }
.channel-produceinfor-item{ display: inline-block; width: 24%;}
.ui-dividingline{ border-bottom: 1px dashed #768399;}
.ui-channel-checkinfor{ padding:0 20px;}
.ui-channel-bottombtn{ display: inline-block; width: 100px; text-align: center; cursor: pointer; margin:10px 0 10px 16px;}
.ui-detail-a{ color:#3498da;}
.ui-detail-btnposition{ width: 600px; text-align: center;}
.ui-detail-bntwidth{ width: 110px;}
.ui-profess-label{ width: 100px!important;}
.ui-info-selheight{ height: 26px;}
/*杩愯惀绠＄悊*/
.ui-infor-width{ width: 10%;}
.ui-btnbox-width{ width: 500px;}
.ui-input-width{ width: 60px;}
.ui-special-label{ width: 8%; vertical-align: top;}
.ui-special-tabletit{ font-weight: 700; padding:10px 0 10px 1.6%;}
.ui-alert-message{ text-align: center; height: 20px;}
.ui-baselabel-param{ padding:6px 10px; border:1px solid #75b9e6;}
.ui-baseparm-cols{ display: inline-block;}
.ui-paramlabel-editor{ width: 100%; height: 100%; text-align: center;}
.ui-oneparam-item{ position: relative;width: 80px;height: 30px; display: inline-block; margin:0 30px 20px 0;}
.ui-close-red{ position: absolute;right:-18px;top:-10px; width: 26px; height: 26px; background: url(../images/icons.png) -180px -4px no-repeat #fff; cursor: pointer;  }
.ui-parma-data{ width: 80%;}
.ui-info-item .ui-fileselect{ width: 88px; height: 30px;}
.ui-select-bigbox{ width: 1200px!important; height: 700px;}
.ui-input-width .textbox-text{ width: 60px;}
.ui-pramalabel-dialog{ width: 340px; height: auto; padding:10px 40px 10px 100px; text-align: left;}
.ui-cbox-item{ padding:10px 0; }
.ui-paramtit-fw{ font-weight: 700;}
.ui-select-picmg{ margin-top: 10px;}
.ui-theme-label{ width: 7%;}
.ui-search-green{color: #3498da;}
.relate-box{ width: 96%; padding-left: 2.6%;}
.relate-produce-table{ width: 100%;}
.relate-item-text{ width: 15%; text-align: center; padding:6px 0; }
.relate-item-textcurr{ width: 6%; }
.relate-item-style{ text-align: center; font-weight: 700;color: #768399; font-size: 14px; padding:6px 0; }
.relate-item-style,.relate-item-text{ border:1px solid #cbcbcb; }
.theme-item-label{ width:8%;}
.relate-item-label{ width:80px; }

.ui-label-editor{ display: block; width: 100%; overflow: hidden; white-space: nowrap;  text-overflow: ellipsis; color:#3498da}
.search-list li .ui-label-wh{ width:86px;}
.showpic-preview{ position: absolute; top:14%; left: 40%;  display:none;}
.opt-link{margin-left:5px;color:#3498da; cursor:pointer} 
.search-list li .ui-produce-labelname{width:120px;}
.search-list li .operate-item-label{ width:72px; }
.search-list li .gallery-item-label{ width:90px; }
.parma-colorblue{color: #3498da;}
.textarea-style{width:800px;height:400px;border:1px solid #a9a9a9;}
.client-imgshow{position:absolute;top:20%;left:40%;display:none;}

/*鐞嗚禂绠＄悊*/
.claims-mostinfor{
  display: none;
}
.clamis-list{
  min-height: 0;
}
.miei-box{
  position: absolute;
  top:16%;
  left:30%;
  padding-bottom:20px;
  background:#fff;

}
.photoid-pos{
	top:90%;
	left:30%;
}
.miei-inpt{
	width:320px;
}
.reject-cannel{
  margin-left:20px;
}
.calims-phoneinfor{
  display:inline-block; 
  margin-left:20px;
}
.miei-otherinfor{
  margin-left:16px;
}
.verify-item{
  float:left;
  width:24%;
}
.verify-item-align{
  margin-left:40px;
  padding:10px 0;
  font-weight:700;
}
.calims-sele-text{
  width:176px;
  margin:10px 0 0 20px;
  color:#768399;
}
.ui-inst-table{
     font-size: 14px; 
     width: 100%;
}
.ui-inst-table th{ 
    font-weight: 700;
    
    
}
.miei-changestate{
	display:inline-block; 
	vertical-align: top;
}
.ui-inst-table tr:nth-child(even) {
  background-color: #f9fafa;
}
.ui-inst-table th,.ui-inst-table td{ 
    border: 1px solid #dbdbdb;
    text-align: center;
     color:#768399;
      padding:10px 0;
}
.gecy-inst{
    width:90%;
}
.dlgmin-titspace{
  margin:16px 0;
}
.dlgmiddle-titspace{
  margin:30px 0;
}
.order-searchlink{
  color:#3498da;
  font-weight: 700;
 font-size: 14px;
}
.search-list li .ui-form-lablewd{
	width:115px;
}
.ui-policy-detail .ui-detail-lablewd{
	width:120px;
}
.ui-policy-detail .ui-detail-lablewdmin{
	width:80px;
}
.operate-allcheck{
	float:left;
	margin:26px 10px 0 0;
}
.operate-resouce{
	margin:20px 0 0 0; 
}
.operate-list-item td{
  padding: 10px 15px;
}
.ui-info-item .redrule-item-label{
	width:230px; 
	text-align: right;
}
.ui-resureLimit-other{
	margin-left: 245px;
}
.redrule-selepage{
	width:200px;
	margin:10px 0;
}
.ui-newdlg{
	height:80px;
	padding:40px 0 32px 0;
	font-size: 14px;
	color: #768399;
	font-weight: bold;
}
.search-specialbox{
	font-size: 14px; 
	color: #768399;
	margin-left:10px;
}
.search-specialbox-tit{
	padding:10px 0;
}
.search-radioitem{
	margin:0 4px 0 40px;
}
.ui-info-newlist .ui-info-lbl{
	width:150px;
}
.ui-info-newlist .ui-info-lblsmall{
	width:90px;
}
.produce-iptmidd{
	width:270px;
}
/*产品新增2.0*/
.produce-selebox{
  width:80px;
  text-align: center;
}
.ui-guarant-list .produce-newseleitem{
  border-bottom:0;
  font-size: 14px;
}
.produce-newteble tr td{
  font-size: 14px;
}
.proinsure-list{
  width:500px;
}
.proinsure-item{
  margin-left:30px;
}
.proinsure-allcheck{
  width:14%;
}
.proinsure-item-txt{
  display: inline-block;
  width:80%;

}
.proinsure-list .proinsure-item-chb{
  display: inline-block;
  vertical-align:top;
  margin-top:5px;
}
.produce-newtit{
  margin:0 40px;
}
.produce-newtit-midd{
  margin:0 140px 0 50px;
}
.proconfig-txt{
  line-height: 38px;
  width:150px;
}
.proconfig-premium{
  padding-left:0;
  line-height: 38px;
}
.produce-newconfig{
  padding-left:10px;
}
.produce-newdates{
  padding:12px 0;
}
.ui-info-item  .produece-align{
	text-align:center;
}
.ui-resureLimit-other2{
	margin-left:166px;
}
.guarante-item{
	float:left;
	margin:10px;
	padding:10px;
}
.guarante-newlist{
	color: #768399;
	font-size: 14px;
	margin:0 auto;
}
.guarante-newlist .guarante-item{
	width:24%;
}
.guarante-newlist .ui-info-sel{
	width:100px;
}
.newdlg-deadline{
	width:900px;
	height:700px;
}
.produce-formconfig .ui-info-sinput{
	width:90px;
}
.produce-formconfig .ui-info-item{
	padding-left:30px;
}
.ui-gt20{
	width:20%;
}
.prodece-newconfig-three  .ui-guarant-list{
	width:610px;
}
.newconfig3-tit-wd13{
	width:13%;
}
.newconfig3-tit-wd22{
	width:22%;
}
.newconfig3-tit-wd30{
	width:30%;
}
.prodece-newconfig-three .newconfig3-wd100{
	width:100%;
}
.newconfig3-wd80{
	width:80%;
}
.newconfig3-itemborc{
	border-bottom:1px solid #ccc;
}
.newconfig3-titpdl{
	padding-left:20px;
}
.produce-samllsel{
	width:60px;
}
.ui-marginr6{
  margin-right:6px;
}
.datagrid-cell, .datagrid-cell-group, .datagrid-header-rownumber, .datagrid-cell-rownumber{
   text-overflow: ellipsis;
}

.datagrid-btable {
    *float: left;
}

.upfile-item {
    display: inline-block;
    margin-right: 20px;
}

.upfile-item-dele {
    color: #75b9e6;
}

.config-tit-one {
    width: 150px;
    text-align: center;
    margin-left: 40px;
}

.config-tit-two {
    width: 98px;
    text-align: center;
    margin-right: 58px
}

.config-tit-three {
    width: 98px;
    text-align: center;
    margin-right: 160px
}

.config-tit-four {
    width: 98px;
    text-align: center;
    margin-right: 18px
}

.produce-detailshow {
    width: 120px;
    margin-right: 0;
}

.coupon-optedetail {
    color: #768399;
    font-size: 14px;
    padding: 20px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.coupon-optedetail .ui-channel-titcolor {
    font-size: 14px;
}

.coupon-longbtn {
    font-weight: normal;
    width: 110px;
    margin-right: 20px;
}
.ui-guarant-list .ui-borbottom,.ui-borbottom{
	border-bottom:1px solid #ccc;
}
.produce-piclist{
	 text-align:center;
	 width:130px;
	 display:inline-block;
}

